<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/swirl.css">
    <title>New Ice Cream!</title>
  </head>

  <body>

    <p><%="Your new flavor is #{params[:flavor_1]} and #{params[:flavor_2]} swirl!"%></p>

  </body>
  </html>
